

.footer {
    
    background-color:rgba(163,179,156,255) ;
    color:rgba(0, 0, 0, 0.3) ;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto; /* Initial margin */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side,
.right-side {
    flex: 1; /* Take up equal space */
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 35px; /* Adjusted margin for both sides */
}

.company-info img {
    width: 100px;
    margin-bottom: 5px;
}


.social-icons {
    display: flex;
    margin-bottom: 10px;
    margin-top:5px;
}

.social-icons a {
    margin-right: 12px;
}

.social-icons img {
    width: 25px;
    margin-bottom: 5px;
}

.trademark {
    margin-top: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 20px; /* Adjusted margin for both sides */
}

.categories {
    max-width: 600px;
    margin: 10px 20px; /* Adjusted margin for both sides */
    padding: 0;
    list-style-type: none;
}

.categories li {
    margin-bottom: 10px;
    text-align: right;
    font-size: large;
    font-weight: bold;
    text-decoration: underline; /* Underline text */
}

.privacy-policy {
    margin: 15px 20px; /* Adjusted margin for both sides */
    margin-top: 15px;
}

/* Media queries for adjusting margins based on screen size */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        margin: 10px auto; /* Adjusted margin for smaller screens */
    }
    
    .left-side,
    .right-side {
        margin: 10px 30px; /* Adjusted margins for smaller screens */
    }
}
