nav {
    background: #879c82;
    border-left: none;
    border-right: none;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 10px; 
}

.logo img {
    width: 90px;
    height: auto;
    margin-right: 20px; 
    margin-bottom: 5px; 
}

.searchbar {
    flex: 1;
    margin: 0 auto;
    max-width: 400px;
    width: 80%; 
    margin-bottom: 10px;
    outline: none;
}

.searchbar input[type="search"] {
    width: 100%; 
    padding: 8px 40px 10px 15px; 
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color:#BDC6BA;
    background-image: url('https://res.cloudinary.com/dhjdnejbo/image/upload/v1713112439/Book_zc5ekt.svg');
    background-position: 95% center; 
    background-repeat: no-repeat;
    background-size: 20px;
    color:rgba(0, 0, 0, 0.3) ;
    outline: none;
    
}

.items img {
    width: 20px;
    height: auto;
    margin-left: 20px; 
    margin-bottom: 5px; 
}

.book-categories {
    background: rgba(123, 142, 118, 1);
    padding: 0px 0px; 
    height: auto; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: -10px; 
}

.book-categories a {
    color: #fff;
    text-decoration: underline;
    margin: 30px; 
}


.searchbar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


@media only screen and (max-width: 600px) {
    nav {
        padding: 20px 10px 10px; 
    }

    .logo img {
        width: 60px; 
        margin-right: 10px; 
    }

    .searchbar {
        width: 70%; 
    }

    .searchbar input[type="search"] {
        padding: 6px 30px 8px 15px;
        background-size: 16px; 
    }

    .items img {
        width: 16px; 
        margin-left: 10px; 
    }

    .book-categories {
        padding: 5px 10px; 
    }

    .book-categories a {
        margin: 5px; 
    }
}
